body {
  background-color: #C9B2ED;
  background-image: url("https://cdn.glitch.com/d210b967-7c55-43fd-b17b-3ce4c8311e6c%2FArtboard%201%20copy.svg?v=1632957108407");
}

h1 {
  color: White;
  text-align: center;
  font-family: "Rock Salt";
  font-size: 60px;
  display: block;
}

button {
  text-align: center;
  width: 50%;
  height: 120px;
  margin: 10px auto;
  border-radius: 11px;
  border-color: transparent;
  background-color: #E0D2F9;
  font-family: Georgia;
  font-size: 30px;
  color: White;
  transition: all 0.5s ease;
}

a {
  font-size: 28px;
  font-family: "Georgia";
  text-decoration: none;
}

button:hover {
  color: mediumpurple;
}
button:visited {
  color: white;
}

.insta {
  display: block;
}

.port {
  display: block;
}

.twitter {
  display: block;
}

.linked {display: block;}
