body{
  background-color:Plum;
}


h1{color:White;
text-align:center;
  font-family: 
}

button{
  text-align:center;
}
a:hover{text-color:white;}
a:visited{text-color:blue;}

.insta{display:block;
border:2px;
padding:30px;
}

.port{display:block;
  border:2px;
padding:30px;}

.twitter{display:block;
  border:2px;
padding:30px;