body {
  background-color: #BDDEF4;
  background-image: url("https://cdn.glitch.me/d210b967-7c55-43fd-b17b-3ce4c8311e6c%2FLittleDudeWithBG.svg?v=1633533009124");
  background-size: cover;
  background-position: left center;
  height: 100vh;
}

h1 {
  color: #7D87C9;
  font-size: 150px;
  text-align: center;
  font-family: "Baloo Da 2";
  margin-bottom: 0px;
  height: 200px;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: #7D87C9;
  font-family: "Baloo Da 2";
  margin-top: 0;
}

h3 {
  color: #7D87C9;
  text-align: center;
  font-size: 30px;
  font-family: "Baloo Da 2";
  font-weight: bold;
}

a {
  display: block;
  color: #7D87C9;
  text-align: center;
  font-size: 30px;
  font-family: "Baloo Da 2";
  text-decoration: none;
}

a:hover {
  color: white;
}

main {
  position: absolute;
  right: 360px;
}
