h1{color:cornflowerblue;
font-size:80px;
text-align:center;
  font-family:Georgia;}

h2{text-align:center;
font-size:30px;
color:teal;
font-family:Georgia;}

p{color:purple;
text-align:center;
font-size:20px;
font-family:Georgia;
font-weight:bold;}